nav{
  padding: 0 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: fixed;
  padding:.5em;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2em;
  margin: 0;
}

nav a{
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover{
  color: #c4bcbc;
}

main{
  margin-top: 4rem;
  padding: 0 2rem;
  min-height: 100vh;
}

input{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  outline:none;
  border:none;
}

button{
  border: 0;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

footer{
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  /* position: fixed; */
}